Often an action needs to be done more than once in a program. For example, we might want to ask the user multiple times for an input. We could do this by just typing the line multiple times.

In [1]:
name = input("Enter a name:")
print(name)
name = input("Enter a name:")
print(name)
name = input("Enter a name:")
print(name)

Enter a name:EE
EE
Enter a name:EE
EE
Enter a name:EE
EE

## 'For' loop statements

In [3]:
#This code prints the first 5 numbers starting with the number 1
for i in 1,2,3,4,5:
    print(i)

1
2
3
4
5

Creating a sequence using the range( ) function
The built-in function range() comes in handy when you want to generate a sequence of numbers (an arithmetic progression).

Range takes 3 values: the start of the range, the end of the range, and the increment (or step) between values. All of these are optional other than the end point. If not specified, the start is 0 and the step is 1. For example, range(10) generates the list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

It is possible to let the range start at another number, or to specify a different increment (even negative).

Examples of range( ) function

In [6]:
sequence1 = range(20) # generate 20 values starting by the number 0
sequence2 = range(15,20) # generates 15, 16, 17, 18, and 19 
sequence3 = range(0,22,3) #generates 0, 3, 6, 9, ...,21
sequence4 = range(-20,-201,-10) #generates -20, -30, -40, ...,200  
sequence5 = range(200,-201,-10) #generates -20, -30, -40, ...,200  
print(sequence1)
print(sequence2)
print(sequence3)
print(sequence4)
print(sequence5)

range(0, 20)
range(15, 20)
range(0, 22, 3)
range(-20, -201, -10)
range(200, -201, -10)

In [7]:
#This code prints the first 5 numbers
#starting by the number 0 using the range() function to generate a sequence

for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
# This code prints all the charaters in a string

str1 = 'Hello!'
for s in str1:
    print(s)

H
e
l
l
o
!

In [10]:
# This code prints all the elements in the list of strings(fruits)
# and print each element in capital letters

#List of fruits
Fruits = ['Apples','Pears', 'Orange','Mandrains','Limes','Nectarines','Apricots',
         'Bananas', 'Strawberries', 'Watermelon','Plums']

for fruit in Fruits:
    print(fruit,fruit.upper())

Apples APPLES
Pears PEARS
Orange ORANGE
Mandrains MANDRAINS
Limes LIMES
Nectarines NECTARINES
Apricots APRICOTS
Bananas BANANAS
Strawberries STRAWBERRIES
Watermelon WATERMELON
Plums PLUMS

As you can see, if you can create any kind of sequence, you can use 'for in' to iterate through all of the items in your sequence.

In [13]:

print('20 value starting with 0')
sequence1 = range(20) # generate 20 values starting with the number 0
for i in sequence1:
    print(i)

print('sequence 15,16,17,18 and 19')
sequence2 = range(15,20) # generates 15, 16, 17, 18, and 19
for i in sequence2:
    print(i)

print("sequence 0, 3, 6, 9, ...,21") 
sequence3 = range(0,22,3) #generates 0, 3, 6, 9, ...,21
for i in sequence3:
    print(i)

print("squence -20, -30, -40, ...,-200")
sequence4 = range(-10,-201,-10) #generates -20, -30, -40, ...,-200
for i in sequence4:
    print(i)

print('sequence 200, 190, 180, ..., -200')
suquence5 = range(200,-201,-10) # generates 200, 190, 180, ..., -200
for i in sequence5:
      print(i)

20 value starting with 0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
sequence 15,16,17,18 and 19
15
16
17
18
19
sequence 0, 3, 6, 9, ...,21
0
3
6
9
12
15
18
21
squence -20, -30, -40, ...,-200
-10
-20
-30
-40
-50
-60
-70
-80
-90
-100
-110
-120
-130
-140
-150
-160
-170
-180
-190
-200
sequence 200, 190, 180, ..., -200
200
190
180
170
160
150
140
130
120
110
100
90
80
70
60
50
40
30
20
10
0
-10
-20
-30
-40
-50
-60
-70
-80
-90
-100
-110
-120
-130
-140
-150
-160
-170
-180
-190
-200

The for statement is a second looping statement introduced in this book. It can be
used to iterate through a container object. The syntax of the for statement begins with a line that consists of the for keyword, followed by an
identifier, and then the in keyword, and then a container object, and finally a colon.
After the for line is an indented statement block, which is executed repeatedly, once
for each element in the collection object. In each iteration, the current element of the
collection is assigned to the identifier after the for keyword, which serves as the loop
variable. For example, the following code iterates through a tuple, printing out each
element:

In [15]:
t = (1,'a',True)
for x in t:
    print(x)

1
a
True

In [16]:
#An equivalent loop using the while statement is
t = (1,2,3)
i = 0
while i<len(t):
    x=t[i]
    print(x)
    i += 1

1
2
3

In the example above, the variable i is used as the loop variable. It iterates through
the values 0, 1,...,len(t). At each iteration, a corresponding element t[i] is taken
from the container t, and assigned to the variable x. This type of iteration through
a container object is called traversal. Compared with the while loop, the for loop
is more convenient for performing tuple traversal, since using a for statement, the
additional loop variable x is unnecessary. Container objects that can be iterated
through using a for loop are also called iterable objects. Tuples are iterable.

The break and continue statements can also be applied to a forloop, with the same
interpretation as in a while loop: the break statement terminates the loop, and the
continue statement skips the rest of the loop body and starts the next loop iteration

In [17]:
t = (1,2,3,4,5,7,10)
for i in t:
    if i > 5:
        break
    print(i)

1
2
3
4
5

In [19]:
t = (1,2,3)
for x in t:
    print(x)
else:
    print('done')

1
2
3
done

In [20]:
t = (1,2,3)
for x in t:
    print(x)
    break
else:
    print('done')

1

In [ ]:
import random

limit = 501
value = random.randint(60,126)
x = 0

while x < 501:
    if x:
        value = random.randint(60,126)
        print('blood glucose reading is', value)
        print('sample ', x)
    x += 1