A 'list' is a container and can contain different data types and even mixed types of data.

In [1]:
#Example of a list with only numbers 
lst1 = [-1, 2, 5.5, 3.3]
print(lst1)

[-1, 2, 5.5, 3.3]

In [2]:
#Example of a list with strings and numbers
listNumbers = ['zero',1,2.0,3,'four']
print(listNumbers)

['zero', 1, 2.0, 3, 'four']

In [3]:
#Example of a list with different types including another list 
listThings = [1,'Jonh',False,listNumbers]
print(listThings)

[1, 'Jonh', False, ['zero', 1, 2.0, 3, 'four']]

In [4]:
#Assigning an empty list to the variable lst1
lst1 = []
print(lst1)

[]

In [5]:
#Getting the type of lst1
type(lst1)

list

In [8]:
seq1 = range(-10,10,2)
list1 = [list(seq1),1.2,2.3,3.4,'l']
list2 = [True,False,'e','h',3,6]
list3 = [list1,list2,True]
print("list1:", list1)
print("list2:", list2)
print("list3:", list3)

list1: [[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8], 1.2, 2.3, 3.4, 'l']
list2: [True, False, 'e', 'h', 3, 6]
list3: [[[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8], 1.2, 2.3, 3.4, 'l'], [True, False, 'e', 'h', 3, 6], True]

In [7]:
seq1 = range(10) # create a range
seq2 = list(seq1) # convert the range sequence into a list of values
lst1 = [seq1, 'anything', 1.5]
lst2 = [seq2, 'anything', 1.5]
print(lst1)
print(lst2)

[range(0, 10), 'anything', 1.5]
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 'anything', 1.5]

The list type is the third sequential type introduced in this book. It is a container
type, and can be regarded as a mutable version of tuples. A list literal consists of a
comma-separated list of objects and identifiers, enclosed in a pair of square brackets.

In [1]:
type([1,2,3])

list

In [2]:
l = [1]  # one item
type(l)

list

In [3]:
l

[1]

In [4]:
x = 'a'
l = [x, True, None]  # heterogeneous list
type(l)

list

In [5]:
l

['a', True, None]

## Conversion Between Lists and Other Types

A list object can be converted
to a string, a Boolean object, or a tuple object. However, it cannot be converted to
numbers. Similar to tuples, the string conversion of a list object is its literal form.

In [6]:
x = 'a'
y = 1
z = True
l = [x,y,z]
str(l)

"['a', 1, True]"

In [7]:
int(l) # cannot be converted numbers

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

Similar to the cases of tuples and strings, the Boolean conversion of a list is False
only when the list is empty, and True otherwise.

In [8]:
bool([])

False

In [10]:
bool([1,2,3])

True

In [12]:
l = [None]
bool(l)

True

The tuple conversion of a list object is a tuple object that contains exactly the
same elements in the same order.

In [13]:
l = [1+2j,'abc', None]
t = tuple(l)
t

((1+2j), 'abc', None)

On the opposite direction, string and tuple objects can be converted into list
objects. However, Boolean or number objects cannot be converted into list objects.
Similar to the tuple conversion, the list conversion of a string is a list that consists of
all the characters in the string, each as a list item, in their original order. Conversion
from tuples to lists is the reverse operation to the conversion from lists to tuples.

In [14]:
list('hello!')

['h', 'e', 'l', 'l', 'o', '!']