Operator	Operation

a == b	True if values of a and b are equal

a != b	True if values of a and b are not equal

a < b	True if value of a is less than value of b

a <= b	True if value of a is less than or equal value of b

a > b	True if value of a is greater than value of b

a >= b	True if value of a is greater than or equal value of b

a and b	True if both a and b are true

a or b	True if either a and b are true

not a	True if a is False (returns opposite of a)

In [1]:
a = 5
b = 5
print(a==b)
print(a!=b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b and a<=b)
print(a==b or a<=b)

True
False
False
True
False
True
True
True

In [3]:
a = True
type(a)

bool

In [4]:
b = False
type(b)

bool

In [2]:
a = True
b = False
a and b

False

In [3]:
a or b

True

In [4]:
not a

False

In [5]:
not b

True

Similar to arithmetic expressions, Boolean expressions can be composite, consisting of multiple Boolean objects and operators. The priority of the not operator
is higher than that of and, which is in turn higher than that of or. Similar to other
expressions, brackets can be used to explicitly specify the order of evaluation in
Boolean expressions.

In [6]:
a = True
b = True
c = False
a and not b #not b first

False

In [7]:
c and b or a #c and b first

True

In [8]:
c and (b or a) # explicit

False

In [9]:
a and b or b and c # 'a and b' ->'b and c' -> 'or' last

True

In the last example above, a and b is evaluated first, before b and c is evaluated.
The resulting values True and False are then combined by the or operator, resulting
in the value True. If and and or had the same precedence, the expression would have
been evaluated from left to right, resulting in the value False. With two literals and
three operators, Boolean algebra is relatively simple and straightforward.

In [10]:
1==2 # equals

False

In [11]:
1 != 2 # not equal

True

In [12]:
3 > 5  # greater than

False

In [13]:
3 < 5 #less than

True

In [14]:
3 <= 5 #less than or equal to

True

Intuitively, the
two special floating point numbers, float(‘inf’) and float(‘-inf’), which represent ∞
and −∞, respectively, conform to the rules of numerical comparison also.

In [23]:
a = float ('inf')
b = float ('-inf')
a > 10e6

True

In [24]:
a < 10

False

In [25]:
b < -10E6

True

Multiple Boolean expressions can be combined by Boolean operators, resulting
in composite Boolean expressions, which are commonly used in Python programs
for control flow.

In [26]:
a = 3
b = 5
c = 2
a > b and b > c

False

In [27]:
a > b or b > c

True

In [28]:
a > b and b > c or b > c and c < a

True

Operators that result in Boolean values (e.g. >, <) have higher precedence compared to Boolean operators (e.g. and, or). As a result, the three expressions in the
example above are reduced to composite Boolean expressions after the > and <
operators are evaluated. In the first two examples above, the expressions a > b and
b > c are evaluated first, before the Boolean operators are evaluated.

In the last example, the four expressions a > b, b > c, b > c and c > a are evaluated first,
before the two and operators are evaluated. The or operator is evaluated last due to
the fact that and has higher priority than or.

The operators ==, !=, <, >, <= and >= can also be cascaded, with the interpretation of logical conjunction. For example, 1 < 2 < 3 is interpreted as 1 < 2
and 2 < 3, and its value is True. Similarly, the value of 1 <= 2 < 5! = 4 is True.
However, the value of 1 < 3 < 5 == 4 is False because the value of 5 == 4 is
False.

Another set of operators that result in Boolean values include in and not in, which
return whether a string is a sub string of another.

In [29]:
s1 = 'bc'
s2 = 'abcde'
s3 = 'b'
s1 in s2

True

In [30]:
s3 not in s2

False

In [31]:
s3 in s1

True

In [32]:
s1 in s3

False

Yet another set of operators that result in Boolean values includes is and is not,
which return whether the identifier of the object are the same.

In [1]:
a = 123
b = 123

# small number cached
id(a)

140706230808784

In [2]:
id(b)

140706230808784

In [3]:
a is b

True

In [4]:
a is not b

False

In [5]:
a = 12345
b = 12345

# not cached
id(a)

2142598464944

In [6]:
id(b)

2142598463792

In [7]:
a is b

False

Type conversion from and to the Boolean type can be applied to numbers,
strings and most other types to be introduced in this book.

In [8]:
bool(0) # zero

False

In [9]:
bool(3) #non-zero

True

In [10]:
bool(0.0) #zero

False

In [11]:
bool(0.1) # non-zero

True

In [12]:
bool(1.0) # non-zero

True

In [13]:
bool(100)

True

In [14]:
bool('')  #empty

False

In [15]:
bool('abc') # non-empty

True

In [16]:
bool('This is a string that cotains mutiple characters.')

True

In [18]:
int(True)

1

In [19]:
int(False)

0

In [20]:
float(True)

1.0

In [21]:
float(False)

0.0

In [22]:
str(True)

'True'

In [23]:
str(False)

'False'

In [25]:
print(False)

False

In [26]:
print(True)

True

While the bool function converts objects of other types into Boolean values,
Boolean values can be converted into other types using respective functions. In
general, a number is converted to False if its value is 0, and True otherwise. A string
is converted to False if it is an empty string, and True otherwise. The numeric value
of False is 0, and that of True is 1. The string value of False and True are ‘False’ and
‘True’, respectively.


The and, or and not operators require Boolean operands. If non-Boolean operands
are found, they are converted to Boolean values implicitly. For example, (1 and ‘a’)
is True because both 1 and ‘a’ are converted to True. However, 0 and 3 is False
because 0 is converted to False.

In [27]:
a = 5
b = 5.0
print(a == b)

True

In [34]:
person1_age = 56
person2_age = 30
same_age = person1_age==person2_age
print(same_age)

False

In [31]:
age = 70
print(age > 14 and age < 65)

False

In [32]:
person1_age = 23
person1_income = 53000
person2_age = 45
person2_income = 52000
print(person1_age > person2_age and person1_income > person2_income)

False

In your notebook, modify your code so that you store the answer in a variable older_richer.

In [33]:
person1_age = 23
person1_income = 53000
person2_age = 45
person2_income = 52000
older_richer = person1_age > person2_age and person1_income > person2_income
print(older_richer)

False