Sometimes in a Series, you have some repeated values, so you may want to know the unique values in your Series. To get the unique values in a Series, you use the **unique()** function.

You may also want to know how many times a value is repeated or its occurrences. If so, you use **value_counts()** function.

Finally, with the **isin()** function you can determine if values are contained in the Series.

In [1]:
import pandas as pd

# getting the unique values
colors = pd.Series(['yellow', 'white', 'black', 'black', 'white', 'red', 'yellow', 'red', 'purple','black', 'black', 'red'])
print('colours =')
print(colors)
print()

print('The unique values in colours \n', colors.unique())

colours =
0     yellow
1      white
2      black
3      black
4      white
5        red
6     yellow
7        red
8     purple
9      black
10     black
11       red
dtype: object

The unique values in colours
 ['yellow' 'white' 'black' 'red' 'purple']

In [2]:
# counting the occurrences in a series
colors.value_counts()

black     4
red       3
yellow    2
white     2
purple    1
dtype: int64

In [3]:
# evaluating the membership of the values
colors.isin(['white','green'])

# Note this function returns a series with Ture for the elements that match
# or False for those that don't match

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [4]:
# filtering the data using the boolean values that the isin() function returns
colors[colors.isin(['white','red'])]

1     white
4     white
5       red
7       red
11      red
dtype: object

## Practise Series

For your fruit Series, write code to do the following:

1. Get the unique values.
2. Count how many occurrences per fruit.
3. Filter for ['apple', 'coconut', 'orange'].

In [9]:
#solution series 1
import pandas as pd 


list_fruits=['apple','banana','kiwi','watermelon','mandarine','apricot',  
             'coconut','cherry','grape','melon','watermelon',
             'mandarine','orange','coconut','grape','mandarine','banana',
             'coconut','cherry','mango','strawberry','apricot',
             'nectarine','kiwi','apricot']

In [13]:
# create series
fruits = pd.Series(list_fruits)
print('fruits')
print(fruits)
print()

fruits
0          apple
1         banana
2           kiwi
3     watermelon
4      mandarine
5        apricot
6        coconut
7         cherry
8          grape
9          melon
10    watermelon
11     mandarine
12        orange
13       coconut
14         grape
15     mandarine
16        banana
17       coconut
18        cherry
19         mango
20    strawberry
21       apricot
22     nectarine
23          kiwi
24       apricot
dtype: object

In [14]:
#unique 
print('1. Unique values in fruits')
print(fruits.unique())
print()

1. Unique values in fruits
['apple' 'banana' 'kiwi' 'watermelon' 'mandarine' 'apricot' 'coconut'
 'cherry' 'grape' 'melon' 'orange' 'mango' 'strawberry' 'nectarine']

In [15]:
#number of occurences
print('2. Number of the ocurrences')
print(fruits.value_counts())
print()

2. Number of the ocurrences
coconut       3
apricot       3
mandarine     3
kiwi          2
grape         2
watermelon    2
cherry        2
banana        2
orange        1
melon         1
mango         1
apple         1
nectarine     1
strawberry    1
dtype: int64

In [16]:
#filter apple coconut orange data
print('3 Series filtered')
print(fruits[fruits.isin(['apple','coconut', 'orange'])])
print()

3 Series filtered
0       apple
6     coconut
12     orange
13    coconut
17    coconut
dtype: object

For your population Series, write code to do the following:

1. Compute the mean.
2. Compute the standard deviation rounded to two digits of precision.
3. Find the minimum value.
4. Find the maximum value.

In [6]:
#solution series 2 
population_dictionary={'Sydney':4627345,   
                       'Melbourne':4246375,  
                       'Brisbane':2189878,  
                       'Perth': 1896548,  
                       'Adelaide': 1225235,  
                       'Gold Coast':591473,  
                       'Canberra':367752,  
                       'Newcastle':308308,  
                       'Wollongong':292190,  
                       'Logan City':282673}

In [22]:
# create series
populations = pd.Series(population_dictionary)
print('populations')
print(populations)
print()

# mean
print('1. mean')
print(populations.mean())
print()

populations
Sydney        4627345
Melbourne     4246375
Brisbane      2189878
Perth         1896548
Adelaide      1225235
Gold Coast     591473
Canberra       367752
Newcastle      308308
Wollongong     292190
Logan City     282673
dtype: int64

1. mean
1602777.7

In [23]:
# standard deviation
print('2. standard deviation')
print(round(populations.std(),2))
print()

2. standard deviation
1646347.28

In [24]:
# min
print('3. minimum value')
print(populations.min())
print()
      
# max
print('4. maximum value')
print(populations.max())

3. minimum value
282673

4. maximum value
4627345