## Setting Column Labels

You can specify the labels of the columns when you construct the Data Frame object by adding the arguments: 

**columns = [< array_of_names >].**

You can get the names of the columns in a Data Frame using the columns attribute.

You can also change the names of the columns by assigning values to the columns attribute.

Remember that the column names are a Pandas index, so you can access the label for a specific column by using its position.

In [1]:
import pandas as pd
import numpy as np

# setting names to the columns
df1 = pd.DataFrame(np.array([[6.5, 90.3], [3.6,3.2]]), columns = ['col1','col2'])
df1

   col1  col2
0   6.5  90.3
1   3.6   3.2

In [2]:
# getting the names of the columns using the DataFrame columns attribute
print('name of the columns ', df1.columns)

name of the columns  Index(['col1', 'col2'], dtype='object')

In [3]:
# getting the names of a specific columns the index
print('column 1 lable:', df1.columns[0])
print('column 2 lable:', df1.columns[1])

column 1 lable: col1
column 2 lable: col2

In [5]:
# setting new names for the columns using the DataFrame columns attribute
df1.columns = ['c1','c2']
print('column 1 lable:', df1.columns[0])
print('column 2 lable:', df1.columns[1])
df1

column 1 lable: c1
column 2 lable: c2

    c1    c2
0  6.5  90.3
1  3.6   3.2

## Setting Row (Index) Labels

Index (row) labels work similarly to columns. Just remember that Pandas Data Frames call the row, index.

You can assign index (row) labels when you are constructing your Data Frame object by adding the arguments: 

**index = [ < array_of_names > ].**

You can access the names of the indexes (rows) with the Data Frame index attribute.

In [6]:
# create a DataFrame with lables in the indexes(rows)
df1 = pd.DataFrame(np.array([[6.5,90.3],[3.6,3.2]]),columns = ['c1','c2'], index=['row1','row2'])
df1

       c1    c2
row1  6.5  90.3
row2  3.6   3.2

In [7]:
# getting the lables of the index using the index attribute
df1.index

Index(['row1', 'row2'], dtype='object')

In [8]:
# getting the lable of a specific index(row) by the position
print('row 1 lable:', df1.index[0])
print('row 2 lable:', df1.index[1])

row 1 lable: row1
row 2 lable: row2

In [9]:
# rename the index(rows) using the index attribute
df1.index = ['r1','r2']
print('row 1 label:', df1.index[0])
print('row 2 label:' ,df1.index[1])
df1

row 1 label: r1
row 2 label: r2

     c1    c2
r1  6.5  90.3
r2  3.6   3.2