Time for some practice to put all of this together!

Instead of generating your own data, you're going to work with some real data.

Download the file weatherAUS.csv
https://myuni.adelaide.edu.au/courses/63752/files/8078193/download.

This is the data we used for the exemplar report.

Pandas provides file readers that work very much like the file readers that you used in Week 3: Reading the File Contents.https://myuni.adelaide.edu.au/courses/63752/modules/items/2105955 Review your Week 3 notes on reading/writing files.

Pandas provides readers for pretty much any format your data is likely to come in. Have a look at the Pandas user guide (Links to an external site.) to see all the readers and writers available in Pandas.

For this practice you'll use the reader for csv.

Try this in your Jupyter Notebook: 
**data = pd.read_csv('weatherAUS.csv', parse_dates=['Date']) data** 
\
Yes, it really is that easy!! parse_dates takes the names of the columns that you want to parse as dates so we can use them as dates rather than strings.

In [4]:
import pandas as pd

data = pd.read_csv('weatherAUS.csv', parse_dates=['Date'])
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-01-12,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-02-12,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-03-12,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-04-12,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-05-12,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

## Summary

Key concepts to take away from this section:

Pandas provides two new types: Series and Data Frames.

A Series is similar to a Python dictionary with just one column, but is built on NumPy to provide faster processing over large data sets.

A Data Frame is similar to a Python dictionary with multiple columns, but is built on NumPy to provide faster processing over large data sets.

You can set your series or Data Frame indexes to be any type. You have used:

Series with integer indexes (similar to a one-column dictionary) or with time indexes\
Data Frames with label indexes or with time indexes.
You can select parts of your data using the index(row) from a:

Series using slicing: **aSeries[start:stop:step]**\
Series using conditions: **aSeries[label condition]**

Data Frame\
using loc:\
**aFrame.loc[rowstartlabel:rowstoplabel:rowstep,colstartlabel:colstoplabel:colstep]**\
**aFrame.loc[label condition]**\
using iloc: \
**aFrame.iloc[rowstartindex:rowstopindex:rowstep,colstartindex:colstopindex:colstep]**\