A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure that maps typed keys to a set of typed values. What this means is that, unlike dictionaries, all of the keys must be of the same type and all of the values must be of the same type.

The keys do not have to be the same type as the values though. Typing the keys makes a Panda series more efficient than dictionaries in certain operations.

Creating series from a dictionary

In [2]:
import pandas as pd

# Creating a series from a dictionary
# The population of 10 most crowed Cities in Australia (2019)
# create a dictionary

population_dictionary={'Sydney':4627345,
                       'Melbourne':4246375,
                       'Brisbane':2189878,
                       'Perth': 1896548,
                       'Adelaide': 1225235,
                       'Gold Coast':591473,
                       'Canberra':367752,
                       'Newcastle':308308,
                       'Wollongong':292190,
                       'Logan City':282673}
population = pd.Series(population_dictionary)
population

Sydney        4627345
Melbourne     4246375
Brisbane      2189878
Perth         1896548
Adelaide      1225235
Gold Coast     591473
Canberra       367752
Newcastle      308308
Wollongong     292190
Logan City     282673
dtype: int64

In [3]:
# To access the values like in a dictionary
population['Adelaide']

1225235

In [4]:
# you can slice the series
population['Brisbane':'Newcastle']

Brisbane      2189878
Perth         1896548
Adelaide      1225235
Gold Coast     591473
Canberra       367752
Newcastle      308308
dtype: int64

In [6]:
# you can invert the series
population[::-1]

Logan City     282673
Wollongong     292190
Newcastle      308308
Canberra       367752
Gold Coast     591473
Adelaide      1225235
Perth         1896548
Brisbane      2189878
Melbourne     4246375
Sydney        4627345
dtype: int64

In [7]:
# you can access every second data point
population[::2]

Sydney        4627345
Brisbane      2189878
Adelaide      1225235
Canberra       367752
Wollongong     292190
dtype: int64

One interesting way to access the values in a series is using the key as an attribute.

< SeriesName >.index_name

Remember, if you type the < SeriesName > and a dot and then you press the tab key, you will see a menu with all the attributes and the methods of the series.

In [9]:
# getting the value from a Series by attribute
print('Population in Adelaide =', population.Adelaide)

Population in Adelaide = 1225235